* {
    margin: 0px;
    padding: 0px;
    font-family: 'roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.grid-container {
    width: 960px;
    height: 960px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    flex: 1;
    box-sizing: border-box;
    border: 1px solid black;
    min-width: 240px;
}